{% extends 'base.html' %}
{% block title %}
  Confirm Password Reset - {{ block.super }}
{% endblock title %}

{% block content %}
  {% if validlink %}
  <h1>Confirm Password Reset</h1>
  <p>Please end your new password twice so we can verify you typed it correctly.</p>

  <form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change Password">
  </form>

  {% else %}
  <h1>Password Reset Unsuccessful</h1>
  <p>The password reset link was invalid, possibly becasue it has already beed used. Please request a new password reset.</p>
  {% endif %}
{% endblock content %}
